.or-bar {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 10;
  height: $bar-base-height;
  padding-right: $bar-side-spacing;
  padding-left: $bar-side-spacing;
  border-bottom: $border-default;

  background-color: $bar-background-color;
  background-image: $bar-background-image;
  background-repeat: repeat-x;
  background-size: 100% 1px;

  &.or-bar-footer {
    bottom: 0;
    border-bottom: none;
    border-top: $border-default;
  }

  &.or-bar-nav {
    top: 0;
    .title {
      position: absolute;
      display: block;
      width: 100%;
      padding: 0;
      margin: 0 (-$bar-side-spacing);
      font-size: $font-size-default;
      font-weight: $font-weight;
      line-height: $bar-base-height;
      text-align: center;
      white-space: nowrap;
      a {
        color: inherit;
      }
    }

    .or-btn {
      position: relative;
      top: 7px;
      z-index: 20;
      padding: 6px 12px 7px;
      margin-top: 0;
      font-weight: $font-weight-light;

      &.pull-right {
        margin-left: $bar-side-spacing;
      }
      &.pull-left {
        margin-right: $bar-side-spacing;
      }
    }

    .or-btn-link {
      top: 0;
      padding: 0;
      line-height: $bar-base-height;
      border: 0;
    }
  }

  &.or-bar-tab {
    display: table;
    bottom: 0;
    width: 100%;
    height: $bar-tab-height;
    padding: 0;
    border-top: $border-default;
    border-bottom: 0;
    table-layout: fixed;

    .or-tab-item {
      display: table-cell;
      width: 1%;
      height: $bar-tab-height;
      vertical-align: middle;
      color: $default-color;
      text-align: center;

      &.active,
      &:active {
        color: $primary-color;
      }

      > .or-icon {
        display: block;
        padding: 2px 0;
        font-size: 1.5rem;
      }

      > .or-label {
        display: block;
        font-size: 0.706rem;
      }
    }

    &.flex {
      @include display-flex();
      .or-tab-item {
        @include flex();
      }
    }
  }
}
