input,
textarea,
button,
select {
  font-family: $font-family-default;
  font-size: $font-size-default;
}

select,
textarea,
input[type="text"],
input[type="search"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="color"] {
  padding: 5px 8px;
  border: 1px solid rgba(0, 0, 0, .2);
  width: 100%;
  margin-bottom: 15px;
  line-height: $line-height-default;
  background-color: $chrome-color;
  border-radius: 3px;
  outline: none;
}

input[type="search"] {
  padding: 0 10px;
  font-size: 1rem;
  box-sizing: border-box;
  height: 34px;
  text-align: center;
  background-color: rgba(0,0,0,.1);
  border: 0;
  border-radius: 6px;
}

input[type="search"]:focus {
  text-align: left;
}

textarea {
  height: auto;
}

select {
  height: auto;
  font-size: 0.824rem;
  background-color: $chrome-color;
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, .1));
}


.or-item-input {
  @include display-flex();
  @include align-items(center);
  position: relative;
  overflow: hidden;
  padding: 6px 8px 5px;

  input {
    @include flex(1);
    @include appearance(none);
    display: block;
    margin: 0;
    background-color: transparent;
  }

  .input-label {
    @include flex(0, 0, auto);
    margin-right: 0.5em;
  }

  &.stacked-label {
    display: block;
    background-color: transparent;
    box-shadow: none;

    .input-label, .icon {
      display: inline-block;
      padding: 4px 0;
      vertical-align: middle;
    }
    input,
    textarea {
      @include border-radius(2px);
      overflow: hidden;
      padding: 4px 8px 3px;
      border: none;
    }
  }
}



