.or-list {
  padding-left: 0;
  margin-top: 0;
  background-color: $card-bg;

  .or-section {
    position: relative;
    margin-top: -1px;
    padding: 0 12px;
    font-size: 0.824rem;
    line-height: 1.625rem;
    color: #000;
    background: $chrome-color;
    border-top: $border-default;
    border-bottom: $border-default;
  }

  .or-item {
    position: relative;
    overflow: hidden;
    border-bottom: $border-default;

    &.media {
      overflow: hidden;
      zoom: 1;
      .media-body {
        overflow: hidden;
        zoom: 1;
      }
      .media-object {
        &.pull-left {
          margin-right: 10px;
        }
        &.pull-right {
          margin-left: 10px;
        }
      }
    }

    > a {
      position: relative;
      display: block;
      overflow: hidden;
      padding: inherit;
      margin: -11px -15px; // Make the entire list item tappable.
      color: inherit;

      &:active {
        background-color: $table-selected-color;
      }
    }
  }
}


.or-cards {
  > li.or-card {
    > a {
      position: relative;
      display: block;
      overflow: hidden;
      color: inherit;

      &:active {
        background-color: $table-selected-color;
      }
    }

    // .or-card-footer, .or-card-header {
    //   position: relative;
    //   overflow: hidden;
    //   padding: 11px 15px;
    //   p {
    //     margin-bottom: 0;
    //   }
    // }
  }
}

.or-card {
  overflow: hidden;
  margin: $bar-side-spacing;
  background-color: $card-bg;
  border: $border-default;
  border-radius: $border-radius;

  .or-list {
    background-image: none;
    margin-bottom: 0;
    border-top: 0;
    border-bottom: 0;
    .or-item:last-child {
      border-bottom: 0;
    }
  }

  .or-section {
    &:first-child {
      top: 0;
      border-top-right-radius: $border-radius;
      border-top-left-radius: $border-radius;
    }
    &:last-child {
      border-bottom-right-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }
  }
}

.or-item {
  padding: 11px 15px;
}

.arrow-right > .or-item:after, .arrow-right > .or-card .or-card-footer:after {
  color: $default-color;
  content: "";
  position: absolute;
  top: 21px;
  right: 20px;
  width: 7px;
  height: 7px;
  margin-top: -5px;
  border-style: solid;
  border-width: 2px 2px 0 0;
  -webkit-transform: rotate(45deg);
}
