//https://github.com/driftyco/ionic/blob/master/scss/_range.scss
//项目中暂时没用到 慢慢修改
input[type="range"] {
  display: inline-block;
  overflow: hidden;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-right: 2px;
  padding-left: 1px;
  width: auto;
  height: $range-slider-height + 15;
  outline: none;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, $range-default-track-bg), color-stop(100%, $range-default-track-bg));
  background: linear-gradient(to right, $range-default-track-bg 0%, $range-default-track-bg 100%);
  background-position: center;
  background-size: 99% $range-track-height;
  background-repeat: no-repeat;
  -webkit-appearance: none;

  &::-webkit-slider-thumb {
    position: relative;
    width: $range-slider-width;
    height: $range-slider-height;
    background-color: $chrome-color;
    cursor: pointer;
    -webkit-appearance: none;
    @include border-radius($range-slider-border-radius);
    @include box-shadow(0 0 2px rgba(0,0,0,.5), 1px 3px 5px rgba(0,0,0,0.25));
  }

  &::-webkit-slider-thumb:before {
    position: absolute;
    top: ($range-slider-height / 2) - ($range-track-height / 2);
    left: -2001px;
    width: 2000px;
    height: $range-track-height;
    background: $positive-color;
    content: ' ';
  }

  &::-webkit-slider-thumb:after {
    position: absolute;
    top: -20px;
    left: -20px;
    padding: 30px;
    content: ' ';
  }
}

.or-range {
  @include display-flex();
  @include align-items(center);
  padding: 2px 4px;

  .icon {
    @include flex(0);
    display: block;
    min-width: $range-icon-size;
    text-align: center;
    font-size: $range-icon-size;
  }

  input {
    @include flex(1);
    display: block;
  }
}

