// Type
$font-family-default: -apple-system-font, "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
$font-size-default: 1.0625rem;
$font-weight: 500;
$font-weight-light: 400;
$line-height-default: 1.428571429 !default; // 20/14
$line-height-computed: floor($font-size-default * $line-height-default) !default; // ~20px
$line-height-large: 1.33 !default;
$line-height-small: 1.5 !default;


// Colors
$chrome-color:   rgba(247,247,247,.98);
$default-color:  #929292;
$primary-color:  #007aff;
$positive-color: #4cd964;
$negative-color: #dd524d;
$table-selected-color: #eee;


// Bars
$bar-base-height:  44px;
$bar-tab-height:   48px;
$bar-side-spacing: 10px;
$bar-background-image: linear-gradient(0deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
$bar-background-color: rgb(250, 250, 250);


// List
$card-bg: #fff;


// Transitions
$timing-fuction: cubic-bezier(.33,.66,.66,1); // like ios transition


// Borders
$border-default: 1px solid rgba(0, 0, 0, .2);
$border-radius: 6px;


// Range
$range-track-height:              4px !default;
$range-slider-width:              20px !default;
$range-slider-height:             20px !default;
$range-slider-border-radius:      10px !default;
$range-icon-size:                 24px !default;
$range-default-track-bg:          #ccc !default;


