<!doctype html>
<html>
  <head>
      <base href="../"></base>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title></title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"/>

      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="black">
      <link rel="icon" type="image/x-icon" href="favicon.ico"/>
      <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
      <link rel="stylesheet" href="path/to/orange.min.css">
  </head>

  <body ontouchstart="">
    <!-- header -->
    <div class="or-bar or-bar-nav">
    </div>

    <!-- content -->
    <div class="or-page">
      <div class="or-page-content">
      </div>
    </div>

    <!-- footer -->
    <footer class="or-bar or-bar-footer">
    </footer>

    <script type="text/javascript" src="..."></script>

  </body>
</html>